#DB
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

#AUTH
NEXTAUTH_SECRET=
NEXTAUTH_URL=

#GOOGLE
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
ALLOWED_EMAILS=

#SECRETS
APP_ENCRYPTION_KEY=
CRON_SECRET=
ADMIN_TOKEN=

#MARKETDATA
FINNHUB_API_KEY=

#IBKR
MARKET_HOURS_UTC=13:30-21:30
IBKR_ACCOUNT_TIMEZONE=America/New_York

#NOTIFICATIONS
TELEGRAM_BOT_TOKEN=